{% extends "base.html" %}
{% block content %}
<h2>{{ group.name }} - Balance: {{ group.total_balance }}</h2>
<h3>Members</h3>
<ul>
    {% for member in members %}
        <li>{{ member.user.username }} - Balance: {{ member.balance }}</li>
    {% endfor %}
</ul>

<h3>Transactions</h3>
<ul>
    {% for tx in transactions %}
        <li>{{ tx.user.username }} deposited {{ tx.amount }} on {{ tx.date }}</li>
    {% endfor %}
</ul>

<a href="{% url 'make_transaction' group.id %}">💵 Make Transaction</a>
{% endblock %}
